/* god theme: Call me to include god in your SASS projects.*/

body > h1,
main > h1 {
  font-size: 400%;
}

body > h2,
main > h2 {
  font-size: 266.7%;
}

body > h3,
main > h3 {
  font-size: 186.7%;
}

body > h4,
main > h4 {
  font-size: 133.3%;
}

body > h5,
main > h5 {
  font-size: 106.7%;
}

body > h6,
main > h6 {
  font-size: 80%;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > p,
body > ul,
body > ol,
body > dl,
body > table,
body > form,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > p,
main > ul,
main > ol,
main > dl,
main > table,
main > form {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 33% !important;
  margin-right: 33% !important;
  padding: 12px 1%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  body > form,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 26.4% !important;
    margin-right: 26.4% !important;
  }
}

@media screen and (max-width: 600px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  body > form,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

body > blockquote,
body > h6,
body > summary,
main > blockquote,
main > h6,
main > summary {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 32% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > h6,
  body > summary,
  main > blockquote,
  main > h6,
  main > summary {
    width: 33.65% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > h6,
  body > summary,
  main > blockquote,
  main > h6,
  main > summary {
    width: 31.505% !important;
  }
}

body > nav,
body > aside,
body > details,
main > nav,
main > aside,
main > details {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 32% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > nav,
  body > aside,
  body > details,
  main > nav,
  main > aside,
  main > details {
    full: 1.65%;
    width: 33.65% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > nav,
  body > aside,
  body > details,
  main > nav,
  main > aside,
  main > details {
    full: 1.65%;
    width: 31.505% !important;
  }
}

@media screen and (max-width: 600px) {
  body > blockquote,
  body > h6,
  body > summary,
  body > nav,
  body > aside,
  body > details,
  main > blockquote,
  main > h6,
  main > summary,
  main > nav,
  main > aside,
  main > details {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > h6,
  body > summary,
  body > nav,
  body > aside,
  body > details,
  main > blockquote,
  main > h6,
  main > summary,
  main > nav,
  main > aside,
  main > details {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > blockquote,
  body > h6,
  body > summary,
  body > nav,
  body > aside,
  body > details,
  main > blockquote,
  main > h6,
  main > summary,
  main > nav,
  main > aside,
  main > details {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > h6,
  body > summary,
  body > nav,
  body > aside,
  body > details,
  main > blockquote,
  main > h6,
  main > summary,
  main > nav,
  main > aside,
  main > details {
    margin-bottom: 22.8px !important;
  }
}

body > ol > li,
main > ol > li {
  margin-left: 12px !important;
}

body > ol > li > *,
main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ol > li,
  main > ol > li {
    list-style: inside;
  }
}

body > ul > li,
main > ul > li {
  margin-left: 12px !important;
}

body > ul > li > *,
main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ul > li,
  main > ul > li {
    list-style: inside;
  }
}

body > img,
main > img {
  max-width: 34% !important;
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled,
main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error,
main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed,
main > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky,
main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > .adonStatus-sticky,
  main > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed,
  main > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar,
main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  body > .adonToolBar,
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden,
main > .adonToolBar.slavehidden {
  margin-top: 12px !important;
  background-color: #00008b !important;
}

body > .adonToolSlave,
main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 0.5s linear 0s, all 0.5s;
  visibility: visible;
}

body > .adonToolSlave.slavehidden,
main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 0.5s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > blockquote.adonToolBar,
body > h6.adonToolBar,
body > summary.adonToolBar,
main > blockquote.adonToolBar,
main > h6.adonToolBar,
main > summary.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 900px) {
  body > blockquote.adonToolBar,
  body > h6.adonToolBar,
  body > summary.adonToolBar,
  main > blockquote.adonToolBar,
  main > h6.adonToolBar,
  main > summary.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 900px) {
  body > .adonHideOnScrollDown,
  main > .adonHideOnScrollDown {
    transition: all 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.5s;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide,
  main > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

body > .adonNavScrollLink,
main > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive,
main > .adonNavScrollLink.adonnavactive {
  background-color: #00008b !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: serif;
}

menu {
  box-sizing: border-box;
  position: relative;
}

menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

menu * {
  box-sizing: border-box;
}

menu a {
  text-decoration: none;
}

menu label {
  font-weight: bold;
}

menu a,
menu label {
  cursor: pointer;
  display: block;
  padding: 3px 12px;
  white-space: nowrap;
}

menu a img,
menu label img {
  height: 50px;
  width: auto !important;
}

menu menu,
menu nav {
  margin: 0;
  padding: 0 12px;
}

menu > menu > menu,
menu > nav > nav {
  display: none;
  visibility: hidden;
}

menu > menu:hover > menu,
menu > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  menu menu:hover > label + menu,
  menu menu:hover > label + nav,
  menu nav:hover > label + menu,
  menu nav:hover > label + nav {
    position: relative;
  }
}

menu > a,
menu > menu,
menu > nav {
  float: left;
}

menu menu:hover > label + menu,
menu menu:hover > label + nav,
menu nav:hover > label + menu,
menu nav:hover > label + nav {
  position: absolute;
}

nav {
  box-sizing: border-box;
}

nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

nav * {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  display: block;
}

nav label {
  font-weight: bold;
}

nav a,
nav label {
  cursor: pointer;
  display: block;
  padding-right: 25px !important;
  white-space: nowrap;
}

nav menu,
nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

nav > menu > menu,
nav > nav > nav {
  display: none;
  visibility: hidden;
}

nav > menu:hover > menu,
nav > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  nav menu:hover > label + menu,
  nav menu:hover > label + nav,
  nav nav:hover > label + menu,
  nav nav:hover > label + nav {
    position: relative;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

details {
  background: #0000d8;
  border: tan 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: tan;
  border: 0;
  color: #fff;
  font-family: sans-serif;
  cursor: pointer;
}

details > * {
  padding: 3px 12px;
}

dl {
  padding: 12px 0;
}

dl > dt {
  background: #0000d8;
  color: #add8e6;
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  padding: 3px;
}

dl > dd {
  margin: 12px;
}

figure {
  border: 1px #0000d8 solid;
  box-sizing: border-box;
  padding: 12px 12px  !important;
}

figure figcaption {
  color: #00008b;
  font-family: sans-serif;
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

form label {
  margin-top: 12px;
}

form legend {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

form label,
form legend {
  color: #00008b;
  font-family: sans-serif;
}

form textarea {
  width: 100%;
}

form input[type=checkbox],
form input[type=radio] {
  margin-right: 3px;
}

form input[type=checkbox] + label,
form input[type=radio] + label {
  color: #00008b;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #0000d8 solid;
  margin-top: 12px;
  padding: 0 12px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

form fieldset input[type=email],
form fieldset input[type=number],
form fieldset input[type=password],
form fieldset input[type=search],
form fieldset input[type=tel],
form fieldset input[type=text],
form fieldset input[type=url],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type=color],
form fieldset input[type=range] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

form fieldset input[type=date],
form fieldset input[type=time],
form fieldset input[type=datetime],
form fieldset input[type=datetime-local],
form fieldset input[type=month],
form fieldset input[type=week] {
  margin-bottom: 12px;
}

form fieldset button,
form fieldset input[type=submit],
form fieldset input[type=reset] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

header {
  font-size: 150%;
  padding: 1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

hr {
  border: 1px #0000d8 solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: auto;
}

@media screen and (max-width: 900px) {
  img {
    padding: 3px 3px  !important;
  }
}

figure img {
  box-sizing: border-box;
  margin: 0 0  !important;
  padding: 0 0  !important;
  width: 100%;
}

pre {
  background: #0000d8;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 12px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #00008b;
  font-family: sans-serif;
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #0000d8;
}

table > tfoot th {
  border-top: 1px solid #0000d8;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #0000d8;
}

@media screen and (max-width: 600px) {
  table {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 150%;
}

input[type=file],
button {
  background: #fff;
  color: #00008b;
  border-radius: 5px;
  border: 1px #0000d8 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 150%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type=file] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type=file]:hover,
input[type=file].selected,
input[type=file].active,
button:hover,
button.selected,
button.active {
  background: #00008b;
  border: 1px #0000d8 solid;
  color: #fff;
}

input[type=file]:disabled,
button:disabled {
  background: #00008b;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type=file] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(0, 0, 216, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #00008b;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

small {
  font-size: 150%;
}
/*# sourceMappingURL=YamesAstrology.css.map */
